.wrapper{
    /* max-height: 60vh;
    min-height: 20vh; */
    top: 0.2rem;
    display:flex;
    /* margin: 3rem 2rem 4rem ; */
    justify-content:center;
    align-items:center;
    position:relative;
    padding:0rem;
    width: 100%;
}
.wrapper img{
    width: 100%;
    object-fit: cover;
    background-size: cover;
}